.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 450px;
  height: 350px;
  padding: 43px 46px;

  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: transform box-shadow 0.2s ease;
  cursor: pointer;
}

.container p {
  color: #8d8d8d;
}

.container h4 {
  font-weight: 700;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}

.container:hover {
  transform: scale(1.01);
}
.container:active {
  transform: scale(1);
  box-shadow: none;
}
