* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 64px;
  color: rgba(0, 0, 0, 0.85);
}

li {
  list-style: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
